<!DOCTYPE html>
<html ng-app="RC">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

        <title>Mqtt RC</title>

        <!-- <script src="intelxdk.js"> </script> -->

        <!-- Ionic framework - replace the CDN links with local files and build -->
        <link href="lib/ionicframework/ionic.min.css" rel="stylesheet">
        <!--  <link href="css/switch.css" rel="stylesheet"> -->

        <script src="lib/ionicframework/ionic.bundle.min.js"></script>

        <script src="js/mqttws31.js"></script>
        <script src="js/mqtt-service.js"></script>
        <script src="js/app.js"></script>

        <script src="cordova.js"></script>
        <script src="xhr.js"></script>

    </head>

    <style>
        .pane {
            background-image: url(img/back.jpg);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }

        .ion-new-border {
            border: 1px solid #333333;
        }

        .mqtt-message{
            background-color: #A1E1FF;
            opacity:0.7;
        }

        .mqtt-info{
            background-color: #A0FFA8;
            opacity:0.7;
        }

        .mqtt-error{
            background-color: #FFA2A1;
            opacity:0.7;
        }

    </style>

    <body ng-controller="RCCtrl">

        <!-- Header -->
        <ion-header-bar class="bar-assertive" ng-controller="ContentController">
            <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
            <h1 class="title">MQTT リモコン</h1>
            <!-- //TODO ng-click="connect()" ng-click="disconnect()" action conditionnelle ??? -->
            <button ng-class="{'button button-icon icon ion-checkmark-circled': isConnected, 'button button-icon icon ion-close-circled': !isConnected}"></button>
        </ion-header-bar>
        <!-- End Header -->

        <ion-side-menus>
            <!-- Left menu -->
            <ion-side-menu side="left" >
                <ion-view view-title="RemoteControl" class="pane">
                    <ion-content padding="true">
                        <h4>Connection info.</h4>
                        <!-- //TODO -->
                        <div class="row">
                            {{connectionInformation.clientID}}
                            {{connectionInformation.brokerURL}}
                            {{connectionInformation.brokerPort}}
                        </div>
                    </ion-content>
                </ion-view>
            </ion-side-menu>

            <!-- Content -->
            <ion-side-menu-content drag-content="false">
                <ion-nav-view>

                    <!-- Tabs start -->
                    <ion-tabs class="tabs-icon-only tabs-assertive">

                        <!-- Tab 1 content -->
                        <ion-tab title="Settings" icon-on="ion-contrast" icon-off="ion-contrast">

                            <ion-view view-title="RemoteControl" class="pane">
                                <ion-content padding="true">
                                    <h4>Control</h4>
                                    <div class="row">
                                        <div class="button-bar">
                                            <a class="button button-energized" ng-click="toggleLightON()" ng-disabled="{{!isConnected}}">ON</a>
                                            <a class="button button-dark" ng-click="toggleLightOFF()" ng-disabled="{{!isConnected}}">OFF</a>
                                        </div>
                                    </div>
                                    <!-- Add model, //TODO check ng-init -->
                                    <div class="item range range-positive">
                                        <i class="icon ion-ios7-sunny"></i>
                                        <input type="range" name="level" min="0" max="100"  ng-model="dimmingValue" value="{{dimmingValue}}" ng-change="updateDimming(dimmingValue)"  ng-disabled="{{!isConnected}}">
                                        <i class="icon ion-ios7-sunny-outline"></i>
                                    </div>

                                    <!--<div>
                                        <ion-checkbox class="toggle" ng-model="isChecked">Checkbox Label</ion-checkbox>
                                        <span class="toggle">
                                            <input type="checkbox">
                                            <label data-off="&#10006;" data-on="&#10004;"></label>
                                        </span>

                                    </div>-->

                                </ion-content>
                            </ion-view>

                        </ion-tab>
                        <!-- End Tab 1 content -->

                        <!-- Tab 2 content -->
                        <ion-tab title="Settings" icon-on="ion-gear-a" icon-off="ion-gear-a">

                            <ion-view view-title="RemoteControl" class="pane">
                                <ion-content padding="true">

                                    <h4>Connection Settings</h4>
                                    <div class="list">
                                        <label class="item item-input">
                                            <span class="input-label">URL</span>
                                            <input type="text" value="{{brokerSettings.url}}">
                                        </label>
                                        <label class="item item-input">
                                            <span class="input-label">Port</span>
                                            <input type="text" value="{{brokerSettings.port}}">
                                        </label>
                                    </div>

                                    <div class="button-bar">
                                        <a class="button button-positive icon-left ion-ionic" ng-click="connect()">Connect</a>
                                        <a class="button icon-left ion-log-out" ng-click="disconnect()">Disconnect</a>
                                    </div>

                                    <ion-list>
                                        <div class="row">
                                            <h4>Bindings</h4>
                                            <button ng-click="toggleShowHideList()" ng-class="{'button button-icon icon ion-arrow-down-b': !hideList, 'button button-icon icon ion-arrow-up-b': hideList}"></button>
                                        </div>
                                        <ion-item ng-repeat="binding in bindings" class="ion-new-border" ng-hide="hideList" ng-show="!hideList">
                                            <label class="item item-input">
                                                <span class="input-label" ng-class="binding.type == 'output' ? 'ion-paper-airplane' : ('ion-link')">&nbsp;{{binding.label}}</span>
                                                <input type="text" value="{{binding.channel}}">
                                            </label>
                                        </ion-item>
                                    </ion-list>

                                </ion-content>
                            </ion-view>
                        </ion-tab>
                        <!-- End Tab 2 content -->

                        <!-- Tab 3 content -->
                        <ion-tab title="About" icon-on="ion-information" icon-off="ion-information">
                            <ion-view view-title="RemoteControl" class="pane">
                                <ion-content padding="true">
                                    <h4>Console</h4>

                                    <!-- Create dynamic list of the events -->
                                    <div class="list">
                                        <a class="item item-avatar" href="#" ng-repeat="message in mqttEvents" style="margin-bottom: 5px;" ng-class="message.eventType == 'MSG' ? 'mqtt-message' : ( message.eventType == 'INF' ? 'mqtt-info' : 'mqtt-error')">
                                            <img src="img/icons/mqtt-icon36x36.png">
                                            <h4 style="font-weight:bold;">{{message.timestamp}}</h4>
                                            <p>{{message.eventMessage}}</p>
                                        </a>
                                    </div>
                                </ion-content>
                            </ion-view>
                        </ion-tab>
                        <!-- End Tab 3 content -->

                    </ion-tabs>
                </ion-nav-view>

            </ion-side-menu-content>
        </ion-side-menus>
        <!-- End Content -->

    </body>
</html>
